<div class="container">
  <div>
    <h1 class="my-3 fw-bold main-font">Checkout</h1>
    <div class="row justify-content-between main-font">
      <div class="col-12 col-md-6 order-md-0 order-1 checkout-form ">
        <h5 class="font-semiBold">Contact Information</h5>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Email address</label
          >
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-fill"></i></span>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Your email.."
              aria-label="email"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Phone</label
          >
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your phone"
              aria-label="phone"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>

        <p class="mt-5 font-semiBold">Shipping address</p>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Full name</label
          >
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i></span>
            <input
              type="text"
              class="form-control"
              placeholder="Your fullname .."
              aria-label="Username"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            > Address</label
          >
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-house-door-fill"></i></span>
            <input
              type="text"
              class="form-control"
              placeholder="Your address.."
              aria-label="address"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >City</label
          >
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-buildings-fill"></i></span>
            <input
              type="text"
              class="form-control"
              placeholder="Your city.."
              aria-label="City"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
        <div class="row" >
          <div class="col-6">
              <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Country</label
                  >
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-globe-asia-australia"></i></span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Your country.."
                      aria-label="Country"
                      aria-describedby="basic-addon1"
                    />
                  </div>
                </div>
          </div>
          <div class="col-6">
              <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Postal Code</label
                  >
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-mailbox2"></i></span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Your postal code.."
                      aria-label="postalCode"
                      aria-describedby="basic-addon1"
                    />
                  </div>
                </div>
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Save this information for the next time
          </label>
        </div>
      </div>
      <div class="col-12 col-md-6  order-md-1 order-0 pb-2">
        <div class="cart rounded  p-4 ">
         <div class="row">
            <div class="col-6" >

                    <img class="img-fluid rounded" src="./assets/images/shop_1.webp" >

            </div>
            <div class="col-6">
             <p class="font-semiBold">Jam Cookie</p>
             <p class="price font-semiBold"> $54.99 <span class="old-price "> $94.99</span></p>
             <div class=" d-flex quantity rounded border p-2">

                    <span class="quantity-icon rounded px-1 font-semiBold" ><i class="bi bi-plus"></i> </span>
                    <span class="px-3">1</span>
                    <span class="quantity-icon rounded px-1" ><i class="bi bi-dash"></i></span>


            </div>
         </div>
        </div>
        <div class="row py-4">
            <div class="col-6" >

                    <img class="img-fluid rounded" src="./assets/images/shop_4.webp" >

            </div>
            <div class="col-6">
             <p class="font-semiBold">Oat Cookie</p>
             <p class="price font-semiBold"> $54.99 <span class="old-price "> $94.99</span></p>
             <div class=" d-flex quantity rounded border p-2">

                    <span class="quantity-icon rounded px-1" ><i class="bi bi-plus"></i> </span>
                    <span class="px-3">1</span>
                    <span class="quantity-icon rounded px-1" ><i class="bi bi-dash"></i></span>


            </div>
         </div>
        </div>
        <hr>
        <div class="d-flex justify-content-between mb-0" >
            <p class="mb-0">Shipping</p>
            <p class="mb-0">$19</p>

        </div>
        <hr>
        <div class="d-flex justify-content-between" >
            <p class="mb-0">Total</p>
            <p class="mb-0">$199</p>

        </div>
    </div>
  </div>
  </div>


    </div>
<p>Test</p>
</div>
