<div class="container">
   <section class="bst-sellr  my-5" >

    <div class=" bg-shop p-5" >
      <div class="row p-5" >
          <div class="col-12 col-md-6 mb-3">
              <img class="img-fluid w-100" src="assets/images/seller_1.webp">
              <div class="img-collection mt-3 d-flex">
                  <div class=" img-selected">
                      <img src="assets/images/seller_1.webp"  width="50" height="50">
                  </div>
                  <div class="mx-2">
                      <img src="assets/images/seller_1.webp" width="50" height="50">
                  </div>
                  <div class="">
                      <img src="assets/images/seller_1.webp"  width="50" height="50">
                  </div>

              </div>
              <p class="mt-3">I'm a product description. I'm a great place to add more details about your product such as sizing, material, care instructions and cleaning instructions.</p>
          </div>
          <div class="col-12 col-md-6 mb-3">
          <h2 class="mb-3">JAM & POPPY SEED BITES</h2>
          <h5> SKU: 0001 </h5>
          <p> $20 </p>
          <p>Quantity</p>
          <div class=" d-flex quantity rounded border p-2 mb-3">

              <span class="quantity-icon rounded px-1 font-semiBold" ><i class="bi bi-plus"></i> </span>
              <span class="px-3">1</span>
              <span class="quantity-icon rounded px-1" ><i class="bi bi-dash"></i></span>


      </div>
      <button class="btn w-50 shop-btn rounded-0 mb-3" >Add to cart</button>

      <button class="btn w-50 shop-btn rounded-0 mb-3" >Shop Now</button>

          <div class="accordion accordion-flush" id="accordionFlushExample">
              <div class="accordion-item detail-acc-btn">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed detail-acc-btn ps-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      PRODUCT INFO
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">I'm a product detail. I'm a great place to add more information about your product such as sizing, material, care and cleaning instructions. This is also a great space to write what makes this product special and how your customers can benefit from this item. <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                </div>
              </div>
              <div class="accordion-item detail-acc-btn">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed detail-acc-btn ps-0" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      REFUND POLICY
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">I’m a refund policy. I’m a great place to let your customers know what to do in case they are dissatisfied with their purchase. Having a straightforward refund or exchange policy is a great way to build trust and reassure your customers that they can buy with confidence..</div>
                </div>
              </div>
              <div class="accordion-item detail-acc-btn">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed detail-acc-btn ps-0"  type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      SHIPPING INFO
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">I'm a shipping policy. I'm a great place to add more information about your shipping methods, packaging and cost. Providing straightforward information about your shipping policy is a great way to build trust and reassure your customers that they can buy from you with confidence.</div>
                </div>
              </div>
            </div>

          </div>




         </div>
  </div>

   </section>

</div>
