<div class="container">
   <section class="bst-sellr text-center my-5" >

      <div class=" bg-shop p-5" >
          <h2 class="pt-5">/ Pick Your Cookies </h2>
          <div class="row p-md-5 pt-5" >
              <div class="col-12  col-md-4 text-center mb-3">
                 <img class="img-fluid w-100" src="assets/images/seller_1.webp">
                 <p class="pt-3 pb-2 mb-0">White chocolate bites</p>
                 <p class="mb-1">$10</p>

                     <button class="btn w-100 shop-btn rounded-0" >Add to cart</button>


              </div>
              <div class="col-12 col-md-4 text-center mb-3">
                 <img class="img-fluid w-100" src="assets/images/seller_2.webp">
                 <p  class="pt-3 pb-2 mb-0">OatMeal bites</p>
                 <p class="mb-1">$12</p>
                 <button class="btn w-100 shop-btn rounded-0" >Add to cart</button>

              </div>
              <div class="col-12 col-md-4 text-center mb-3">
                 <img class="img-fluid w-100" src="assets/images/seller_3.webp">
                 <p  class="pt-3 pb-2 mb-0" >Jam & Poppy seed bites</p>
                 <p class="mb-1" >$12</p>
                 <button class="btn w-100 shop-btn rounded-0" >Add to cart</button>

              </div>


               <div class="col-12 col-md-4 text-center mb-3">
                  <img class="img-fluid w-100" src="assets/images/seller_1.webp">
                  <p class="pt-3 pb-2 mb-0">White chocolate bites</p>
                  <p class="mb-1">$10</p>
                  <button class="btn w-100 shop-btn rounded-0" >Add to cart</button>

               </div>
               <div class="col-12 col-md-4 text-center mb-3">
                  <img class="img-fluid w-100" src="assets/images/seller_2.webp">
                  <p  class="pt-3 pb-2 mb-0">OatMeal bites</p>
                  <p class="mb-1">$12</p>
                  <button class="btn w-100 shop-btn rounded-0" >Add to cart</button>

               </div>
               <div class="col-12 col-md-4 text-center mb-3">
                  <img class="img-fluid w-100" src="assets/images/seller_3.webp">
                  <p  class="pt-3 pb-2 mb-0" >Jam & Poppy seed bites</p>
                  <p class="mb-1">$12</p>
                  <button class="btn w-100 shop-btn rounded-0" >Add to cart</button>

               </div>


               <div class="col-12 col-md-4 text-center mb-3">
                  <img class="img-fluid w-100" src="assets/images/seller_1.webp">
                  <p class="pt-3 pb-2 mb-0">White chocolate bites</p>
                  <p class="mb-1">$10</p>
                  <button class="btn w-100 shop-btn rounded-0" >Add to cart</button>

               </div>
               <div class="col-12 col-md-4 text-center mb-3">
                  <img class="img-fluid w-100" src="assets/images/seller_2.webp">
                  <p  class="pt-3 pb-2 mb-0">OatMeal bites</p>
                  <p class="mb-1">$12</p>
                  <button class="btn w-100 shop-btn rounded-0" >Add to cart</button>

               </div>
               <div class="col-12 col-md-4 text-center mb-3">
                  <img class="img-fluid w-100" src="assets/images/seller_3.webp">
                  <p  class="pt-3 pb-2 mb-0" >Jam & Poppy seed bites</p>
                  <p class="mb-1">$12</p>
                  <button class="btn w-100 shop-btn rounded-0" >Add to cart</button>

               </div>


               <div class="col-12 col-md-4 text-center mb-3">
                  <img class="img-fluid w-100" src="assets/images/seller_1.webp">
                  <p class="pt-3 pb-2 mb-0">White chocolate bites</p>
                  <p class="mb-1"> $10</p>
                  <button class="btn w-100 shop-btn rounded-0" >Add to cart</button>

               </div>
               <div class="col-12 col-md-4 text-center mb-3">
                  <img class="img-fluid w-100" src="assets/images/seller_2.webp">
                  <p  class="pt-3 pb-2 mb-0">OatMeal bites</p>
                  <p class="mb-1">$12</p>
                  <button class="btn w-100 shop-btn rounded-0" >Add to cart</button>

               </div>
               <div class="col-12 col-md-4 text-center mb-3">
                  <img class="img-fluid w-100" src="assets/images/seller_3.webp">
                  <p  class="pt-3 pb-2 mb-0" >Jam & Poppy seed bites</p>
                  <p class="mb-1">$12</p>
                  <button class="btn w-100 shop-btn rounded-0" >Add to cart</button>

               </div>
             </div>
      </div>
   </section>

</div>
