<div class="container">
  <section class="footer">
    <div class="row justify-content-center pt-4 m-auto">
        <div class="col-12 col-md-3">
            <p>Shop:</p>
            <ul>
                <li>
                    About
                </li>
                <li>
                    FAQ
                </li>
                <li>
                    Shipping / Pick Up
                </li>
                <li>
                    Store Policy
                </li>
                <li>
                    Contact Me
                </li>
            </ul>

        </div>
        <div class="col-12 col-md-3">
            <p>OPENING HOURS:</p>
            <ul>
                <li>
                    Mon - Fri: 7am - 10pm
                </li>
                <li>
                    Saturday: 8am - 10pm
                </li>
                <li>
                    Sunday: 8am - 11pm
                </li>
            </ul>

        </div>



        <div class="col-12 col-md-3">
            <p>ADDRESS</p>
            <ul>
                <li>
                    500 Terry Francois Street
                </li>
                <li>
                    San Francisco, CA 94158
                </li>
                <li>
                    Tel: 123-456-7890
                </li>
            </ul>

        </div>
        <div class="col-12 col-md-3">
            <p>GET IT FRESH:</p>
            <ul>
                <li class="mb-2">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Email Here">

                </li>
                <li>
                    <button class="btn btn-outline-secondary w-100" > SUBSCRIBE NOW</button>

                </li>

            </ul>

        </div>
    </div>

  </section>
</div>
